@model Character

@{
	ViewData["Title"] = $"{Model.Name} - Info";
}

<h1>@Model.Name</h1>
<div class="row align-content-between">
	<div class="col-4">
		<img src="@Model.Image" alt="@Model.Name poster" style="width:60%;" />
	</div>
	<div class="col-6">
		<div class="row">
			<div class="d-flex justify-content-end align-items-center">
				<span class="me-2">Add to favs:</span>
				<form asp-action="AddToFavorites" asp-route-characterId="@Model.Id" method="post">
					<button class="btn btn-outline-danger" disabled="@(ViewBag.IsInFavorites ? "disabled" : null)">
						<i class="bi bi-heart"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="row">
		<p>@Model.Description</p>

		<p><strong>Media:</strong> </p>
		@foreach(var medium in Model.Media)
		{
			<div>
				<img src="@medium.Poster" style="min-height: 5vh; max-height: 10vh;" alt="Medium poster"/>
				<p><strong>@medium.Name</strong> (@medium.Type)</p>
			</div>
		}
		</div>
	</div>
</div>

<style>
	.btn-outline-danger:disabled {
		background-color: #dc3545;
		opacity: revert;
		border-color: #dc3545;
		color: white;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
</style>
