@{
	//ViewData["Title"] = "User info";
}

@model UserInfoViewModel

<div class="row">
	<div class="col-4">
		<img src="@Model.Imagelink" alt="User's profile picture'" style="width: 100%;" />

	</div>
</div>

<div class="text-center">
    <p>@Model.UserName</p>
	<p>@Model.Createdate</p>
	<p>@Model.Description</p>
	<p>@Model.Imagelink</p>
</div>

