@model UserInfoViewModel

<div class="row mb-3">
	<div class="col-4">
		<img src="@(Model.Imagelink ?? "/images/placeholder.svg")" alt="User's profile picture'" style="width: 200px; height: 200px; object-fit: cover; border-radius: 5%;" />
	</div>
	<div class="col-6">
        @if (ViewBag.IsFollowing)
        {
            <form asp-action="Unfollow" asp-route-username="@Model.UserName" method="post">
                <button class="btn btn-outline-danger float-end">
                    <i class="bi bi-person-dash-fill"></i> Unfollow
                </button>
            </form>
        }
        else
        {
            <form asp-action="Follow" asp-route-username="@Model.UserName" method="post">
                <button class="btn btn-outline-primary float-end">
                    <i class="bi bi-person-fill-add"></i> Follow
                </button>
            </form>
        }

		<h2>@Model.UserName</h2>
        <br />
        <p><strong>Since:</strong> <small>@Model.Createdate</small></p>
        <p><strong>About me:</strong></p>
        @if (String.IsNullOrEmpty(Model.Description))
        {
            <p>This user doesn't have description</p>
        }
        else
        { 
            <p>@Model.Description</p>
        }
	</div>
</div>


<div class="mb-3">
    <p><strong>Following:</strong> @Model.Following.Count</p>
    <ul class="list-inline">
        @foreach(var account in Model.Following)
        {
            <li class="list-inline-item">
                <a asp-controller="Account" asp-action="Index" asp-route-username="@account.UserName" class="link-secondary page-link">
                    @account.UserName
                </a>
            </li>
        }
    </ul>
    <p><strong>Followers:</strong> @Model.Followers.Count</p>
    <ul class="list-inline">
        @foreach (var account in Model.Followers)
        {
            <li class="list-inline-item">
                <a asp-controller="Account" asp-action="Index" asp-route-username="@account.UserName" class="link-secondary page-link">
                    @account.UserName
                </a>
            </li>
        }
    </ul>
</div>

<div class="row">
    <div class="col-12">
            @Html.Partial("_ListElements", ViewBag.NewestListElements as IEnumerable<ListElementViewModel>)
    </div>
</div>

<div class="mt-4">
    <h3>Favorite Characters</h3>
    @if (Model.Characters.Any())
    {
        <div class="row">
            @foreach (var character in Model.Characters)
            {
                <div class="col-3 text-center">
                    <img src="@(character.Image ?? "/images/placeholder.svg")" alt="@character.Name" class="img-fluid" style="height: 150px; object-fit: cover;" />
                    <p>@character.Name</p>
                </div>
            }
        </div>
    }
    else
    {
        <p>No favorite characters yet</p>
    }
</div>