@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<dynamic>

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>@ViewData["UserName"]</p>
</div>

<div class="mb-4">
    <a asp-action="AddToList" asp-controller="Home" class="btn btn-primary">Add</a>
</div>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Image</th>
            <th style="min-width: max(10vw, 20px);">Name</th>
            <th>Status</th>
            <th>Count</th>
            <th>Rating</th>
            <th>Start</th>
			<th>Finish</th>
			<th>Comment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Mediumposter" alt="Medium poster" style="max-width: 3vw;" />
                </td>
                <td>@item.Mediumname - @item.Mediumid</td>
                <td>@item.Status</td>
                <td>@item.Finishednumber</td>
                <td>@item.Rating/10</td>
                <td>@item.Startdate?.ToString("yyyy-MM-dd")</td>
				<td>@item.Finishdate?.ToString("yyyy-MM-dd")</td>
				<td>@item.Mediumcomment</td>
                <td>
                    <a asp-action="EditElement" asp-controller="Home" asp-route-mediumId="@item.Mediumid" class="btn btn-sm btn-warning">Edit</a>
                    <form asp-action="DeleteElement" asp-controller="Home" asp-route-mediumId="@item.Mediumid" method="post" style="display: inline;" onsubmit="return confirm('Are you sure?');">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
